---
name: Test PR

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Test Building ${{ matrix.file }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file:
          - LILYGO-T-Higrow-ESP32.yaml
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .github/yamllint.yml
      - name: Build ESPHome firmware to verify configuration
        uses: esphome/build-action@v7.1.0
        with:
          yaml-file: ${{ matrix.file }}
